@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.cat {
  transition: 0.5s ease;
}

.cat:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.5s ease;
}

.chocobg {
  background-image: url(../public/category_images/cat-chocolate.jpg)
}

.cheesebg {
  background-image: url(../public/category_images/cat-cheese.jpg)
}

.booksbg {
  background-image: url(../public/category_images/cat-books.jpeg)
}

.watchesbg {
  background-image: url(../public/category_images/cat-watches.jpg)
}

.knivesbg {
  background-image: url(../public/category_images/cat-knives.jpg)
}